@tailwind base;
@tailwind components;

@font-face {
  font-family: "MADE Dillan";
  src: url(/fonts/made-dillan.woff) format("woff");
}

@font-face {
  font-family: "Space Text";
  src: url(/fonts/space-text-medium.woff) format("woff");
}

@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* TODO: Figure out how to do this in tailwind */

img.bordered {
  border: 3px solid black !important;
}

blockquote p:last-child {
  margin: 0;
}

blockquote strong {
  display: block;
  margin-top: 16px;
}

code {
  padding: 3px 6px;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
}

@tailwind utilities;
